body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#titulo_telas{
    padding: 40px;
    color: aqua;
}


.wapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(32 32 32 / 51%);
    display: flex;
    align-items: center;
    justify-content: center;
}



#novaComanda{
    background-color: #e38412;
    display: flex;
    text-align: left;
    flex-direction: column-reverse;
    position: relative;
}
    

.items button, .items_comanda button{
    background-color: #ffd080;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid;
}


.items_comanda button:hover{
    cursor: pointer;
    background-color: #FFE4B5;
}

.items button:hover{
    cursor: pointer;
    background-color: #FFE4B5;
}

.items_comanda{
    background-color: #fad594;
    margin-top: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    flex-direction: column;
    padding: 0px 10px 0px 10px;

}

#novaComanda label{
    color: rgb(120, 0, 0);
}

.botoes_comanda{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}




.abrirCardapio:hover{
    cursor: pointer;
    transform: translateY(-1px) translateX(-1px);
    box-shadow: 2px 4px 0 0 #694604;
    transition: 0.4s;
    
}

.abrirCardapio:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.salvar-btn, .abrirCardapio{
    Background-color: #a76413;
    color: white;
    padding: 10px 15px;
    margin: 6px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* width: 100%; */
    font-size: 16px;
}

.salvar-btn:hover{
    cursor: pointer;
    transform: translateY(-1px) translateX(-1px);
    box-shadow: 2px 4px 0 0 #694604;
    transition: 0.4s;
}

.salvar-btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}






.modal, .modal_editar{
    background-color: #e38412;
    align-items: center;
    justify-content: center;
    padding: 40px;    
    border-radius: 8px;
    border: 1px dashed #a04c00;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 220px;

}



#cardapio{
    height: 30vh;
    overflow-y: auto;
}


.containerComanda {
    background-color: #FFA500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    width: 100%;
    max-height: 90%;
    height: 92%;
}

 .modal_editar .close-btn{
    color: #00ff0d;
    margin: auto;
 }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.header h1 {
    margin: 0;
    color: #3a0d00
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: -44px -36px 7px -1px;
    
}

.close-btn_tela_comanda {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -10px;
    color: #333;
    
}

#input_mesa_comanda, #input_nome_comanda{
    border-radius: 5px;
    border: transparent;
    background-color: #ffd37d;
    height: 15px;
    padding: 10px 0px 10px 8px;

}

.item-name {
    font-size: 23px;
    text-align:left;
    font-weight: bold;
}

.item-desc {
    font-size: 20px;
    text-align: left;
    font-style: italic;
    color: #000000;
}

.item-price {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

button.editar-item {
    
    align-self: end;
}

#engrenagem{
    font-size: xx-small;
    margin: 5px 0px -10px -10px;
    
}


.emogi :hover{
    
    transform: none;
    
}

.buttons button.action-btn {
    background-color: #FFD700;
    border: 2px dashed #a04c00;
    /* padding: 10px; */
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 1em 2em;    
    box-shadow: 0 0 0 0 black;

}


  
  button.action-btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #694604;
  };
  
  button.action-btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };




p{
    display: flex;
    gap: 48px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* .buttons :hover {
    transition: 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;
} */


.items{
    max-height: 220px;
    max-width: 365px;
    overflow: auto;
    background-color: #ffa12e;
    border-radius: 10px;
    padding: 23px;
}




.items_comanda .item {
    margin: 10px 0; /* Adiciona espaçamento entre os itens */
    display: block; /* Garante que cada item ocupe uma linha */
}

.items_comanda .item li {
    display: list-item; /* Exibe os itens de forma semelhante a uma lista */
}

.orders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.order {
    background-color: #FFE4B5;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}