body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#titulo_telas{
    padding: 40px;
    color: aqua;
}


.wapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(32 32 32 / 51%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#input_criar_comanda{
    height: 15px
}

#novaComanda{
    background-color: #e38412;
    display: flex;
    text-align: left;
    flex-direction: row-reverse;
    position: relative;

}


#novaComanda label{
    color: rgb(120, 0, 0);
}


.modal{
    background-color: #e38412;
    align-items: center;
    justify-content: center;
    padding: 40px;    
    border-radius: 8px;

}

#cardapio{
    height: 30vh;
    overflow-y: auto;
}


.containerComanda {
    background-color: #FFA500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.header h1 {
    margin: 0;
    color: violet
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: -44px -36px 7px -1px;
    
}

.close-btn_tela_comanda {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -10px;
    color: #333;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#engrenagem{
    font-size: xx-small;
    margin: 5px 0px -10px -10px;
    
}


.emogi :hover{
    
    transform: none;

}

.action-btn {
    background-color: #FFD700;
    border: 2px dashed #a04c00;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
display: flex;
gap: 48px;
}

.buttons :hover {
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}



.orders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.order {
    background-color: #FFE4B5;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
