/* Estilizando o body da tela */
.body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Estilizando o header da tela */
.header {
    background-color: orange;
    margin-bottom: 100px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.textologo{
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}


/* Daqui pra baixo, estilizando todos os elementos presentes dentro do header */
.icone-botao{
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: flex-start; /* Alinha à esquerda */
    background-color: #FFA500; /* Ajuste a cor de fundo se necessário */
    padding: 10px;
}

.logo-icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.icon-profile{
    font-size: 20px;
    display: flex;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-profile:hover{
    transform: scale(1.4);
}

.botao-sair{
    display: none;
}

.btn-sair-click{
    background-color: #FFF;
    color: #333;
    border: 2px solid #FFA500;
    border-radius: 12px;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px; 
}

.btn-sair-click:hover{
    background-color: #FFA500;
    color: #FFF;
    border-color: #FFF;
}

/* Agora, estilizando o container da tela */
.container {
    background-color: orange;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Estilizando a DIV que contem todos os botões */
.menu-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.menu-button {
    background-color: #db4a0b;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #c74209;
}

/* Estilizando as letras miúdas abaixo dos botões de ação */
footer {
    margin-top: 30px;
    font-size: 12px;
    color: #000;
}
