body{
    background-color: orange;
}

.div-principal{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.container{
    display: flex;
    justify-content: space-around;
}

.div-pendentes{
    background-color: white;
}

.div-emAndamento{
    background-color: white;
}

.div-concluido{
    background-color: white;
}