*{
    margin: 0;
}
p{
    text-wrap: balance;
    word-break: break-word;
}
body {
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sairDoCriarItem{
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
}

#descricaoProduto
{
    height: 78px;
}

#formItemCardapio{
    width: 100%;
    display: flex;
    padding: 12px;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
}

.wapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(32 32 32 / 51%);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.modalNovoCardapio, .modal_cardapio{
    border: 2px dashed black;
    background-color: #e38412;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    height: 45vh;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 12px;
}

.header h1 {
    font-family: "Chicle", serif;
    font-size: 38px;
    color: #1f1e1e;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.add:hover,.edit:hover,.back:hover{
    transform: scale(1.2);
}

button.add {
    color: rgb(0, 0, 0);
    background-color: #f5a623;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button.add:hover {
    transform: translateY(-4px) translateX(+2px);
    box-shadow: 2px 5px 0 0 rgb(105, 70, 4);
  }
  
  button.add:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }

button.edit {
    background-color: #666;
    color: #fff;
}


button.back  { /* BOTAO de voltar do cardapio */
    background-color: #ffcc00;
    color: rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button.back:hover {
    transform: translateY(-4px) translateX(+2px);
    box-shadow: 2px 5px 0 0 rgb(105, 70, 4);
  }
  
  button.back:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }


ul.menu {
    list-style-type: none;
    padding: 12px;
}
        

ul.menu li {
    padding: 12px;
    background-color: #f5a623;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    box-shadow: 6px 6px 0 0 rgb(105, 70, 4);
}


.item-name {
    font-family: "Chicle", serif;
    font-size: 23px;
    text-align:left;
    color: #1f1e1e;
   
}

.item-desc {
    font-size: 18px;
    text-align: left;
    font-style: italic;
    color: #000000;
}

.item-price {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

button.editar-item { /* BOTAO de EDITAR ITEM */
    
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.8em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button.editar-item:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgb(105, 70, 4);
  };
  
  button.editar-item:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };
  







.modalNovoCardapio {
    background-color: #e38412; /* Amarelo dourado para o fundo */
    border: 2.5px Dashed #000000;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    color: #333; /* Texto em cinza escuro */
}

.modalNovoCardapio label {
    display: block;
    font-weight: bold;
    color: #0f0f0f; /* Laranja escuro */

}



.modalNovoCardapio input{
    padding: 6px;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid #ff4d0a;
    background-color: #F5F5F5; /* Cinza claro para os inputs */
}


.modalNovoCardapio input[type="checkbox"]{
margin: 0;
}


.modalNovoCardapio input:focus {
    outline: none;
    border-color: #FF8C00; /* Cor laranja ao focar no campo */
}

.possuiPreparoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.modalNovoCardapio button[type="submit"] {
    background-color: #a76413; /* Laranja forte para o botão */
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.modalNovoCardapio button[type="submit"]:hover {
    background-color: #a7570d; /* Laranja mais claro ao passar o mouse */
}

.sairDoCriarItem {
    background-color: #FF4500; /* Vermelho alaranjado para o botão de fechar */
    color: white;
    border: none;
    padding: 2px 6px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    top: 1px;
    right: 1px;
}

.sairDoCriarItem:hover {
    background-color: #FF6347; /* Tom mais claro ao passar o mouse */
    
}


.removerItem_nao { /*botao de remover item, NAO*/
    background-color: rgb(218, 52, 23);
    color: rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 14px;
    font-weight: 600;
    padding: 1em 6em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  .removerItem_nao:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgb(105, 70, 4);
  }
  
  .removerItem_nao:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }
  
.removerItem_sim {  /*botao de remover item, SIM*/
    background-color: rgb(78, 192, 12);
    color: rgb(0, 0, 0);
    border-radius: 16px;
    font-size: 14px;
    font-weight: 600;
    padding: 1em 6em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  .removerItem_sim:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgb(105, 70, 4);
  }
  
  .removerItem_sim:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }


  .modalRemoverItem{
    background-color: #e38412;
    border: 2px Dashed #000000;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    color: #333;
    position: relative;
    padding: 32px 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}


.switch {
    --circle-dim: 1em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.15em;
    bottom: 0.1em;
    transition: .4s;
    pointer-events: none;
  }
  
  .slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
  }
  
  .slider-card-front {
    background-color: #DC3535;
  }
  
  .slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
  }
  
  input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
  }
  
  input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
  }
  
  input:checked ~ .slider-card {
    transform: translateX(1.5em);
  }
  
  input:checked ~ .slider {
    background-color: #9ed99c;
  }


  .inputPesquisa {
    margin-left: 12px;
    font-family: "SF Pro";
    max-width: 190px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
  }
  
  .inputPesquisa:focus {
    box-shadow: 5.5px 7px 0 black;
  }
  
/* Overlay de fundo */
.wapperErro {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000; /*modal ficará por cima */
}

/* Estilo do modal de erro */
.modalErroDePermissao {
  width: 300px; /* Modal com largura fixada */
  background-color: #e38412;
  color: white;
  border-radius: 10px; /* Borda arredondada */
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
}

/* Título de erro */
.modalErroDePermissao h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: #000;
}

/* Texto do modal */
.modalErroDePermissao p {
  font-size: 19px;
  margin-bottom: 20px;
  text-align: left;
}

.fecharModalPermissao {
  padding: 10px 20px;
  background-color: #c0392b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.fecharModalPermissao:hover {
  background-color: #e74c3c; /* Altera a cor do botão ao passar o mouse */
}


/* Overlay de fundo */
.wapperValidarUsuario {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.6); /* Fundo mais suave */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000; /* Garante que o modal ficará por cima */
}

/* Estilo do modal de erro */
.modalErroValidarUsuario {
  width: 300px; /* Modal com largura fixada */
  background-color: #e38412;
  color: black;
  border-radius: 10px; 
  padding: 20px;
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna */
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
}

/* Título de erro */
.modalErroValidarUsuario h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: #000;
}

/* Texto do modal */
.modalErroValidarUsuario p {
  font-size: 19px;
  margin-bottom: 20px;
  text-align: left;
}

.fecharErroValidarUsuario {
  padding: 10px 20px;
  background-color: #c0392b;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  transition: background-color 0.3s ease;
}

.fecharErroValidarUsuario:hover {
  background-color: #e74c3c; /* Altera a cor do botão ao passar o mouse */
}