body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #FFA500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.show-password {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.show-password input {
    margin-right: 5px;
}

.show-password a {
    margin-left: auto;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

button.botao-entrar {
    color: rgb(0, 0, 0);
    background-color: #f5a623;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button.botao-entrar:hover {
    transform: translateY(-4px) translateX(+2px);
    box-shadow: 2px 5px 0 0 rgb(105, 70, 4);
  }
  
  button.botao-entrar:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }

